<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Stack Demo</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <div th:replace="~{fragments/nav :: nav}"></div>
    <header>
        <h1>Products</h1>
        <a href="/products/create"><button>Create Product</button></a>
        <table>
            <tr>
                <thead>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Created At</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr th:each="product: ${products}"></tr>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.brand}"></td>
                    <td th:text="${product.category}"></td>
                    <td th:text="${product.price} + '$'"></td>
                    <td> <img th:src="@{'/images/' + ${product.imageFileName}}" alt=""></td>
                    <td th:text="${product.createdAt.toString().toSubstring(0,10)}"></td>
                    <td>
                        <a th:href="@{/products/edit(id=${product.id})}"><button>Edit</button></a>
                        <a th:href="@{/products/delete(id=${product.id})}"
                         onclick="return confirm('Are you sure?')">
                        <button>Delete</button></a>
                    </td>
                </tbody>
            </tr>
        </table>
    </header>
</body>
</html>
