

.register_form {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.form-element {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: 0 auto;
}

.form-element label {
    margin-bottom: 5px;
}

.form-element input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.form-buttons {
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.--btn-primary {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


