body {
    font-family: Arial, sans-serif;
}

nav {
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    margin-right: 10px;
}

nav button {
    padding: 10px;
    font-size: 16px;
}
.--btn-primary{
    background-color: #0f6fff;
}
.--btn-secondary{
    background-color: green;
}
.--btn-danger{
    color: red;
}
.--btn-cancel {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.validationError {
    color: red;
    margin-top: 5px;
}
img{
    height:80px;
    width:80px;
}