<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Stack Demo</title>
    <link rel="stylesheet" th:href="@{/styles.css}">

</head>
<body>
    <nav>
        <a th:href="@{/}"><button>Home</button></a>
        <a th:href="@{/contact}"><button>Contact</button></a>
        <a th:href="@{/register}"><button>Register</button></a>
        <a th:href="@{/login}"><button>Login</button></a>
    </nav>
    <header>
        <h1>Welcome to the Student Management System</h1>
    </header>
</body>
</html>

